<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="icon" href="/img/icon.png">
	<title>
		Blog - {{ .Title }}
	</title>
</head>
<body>
	{{ partial "blogheader.html" . }}
	<div id="maindiv">
		<p style="font-size: 48px; border-bottom: 6px double var(--main-color); text-align: center; padding-bottom: 32px; margin-left: 0px; margin-right: 0px;"><b>{{ .Title }}</b></p>


		{{ .Content -}}

		<hr>

		<p>Created: {{ .Date.Format "2006 Jan 02" }} / Modified: {{ .Lastmod.Format "2006 Jan 02" }}</p>
		{{ if isset .Params "tags" }}
			<p>Tags: {{ with .Params.tags }}{{ delimit . ", " }}{{ end }}</p>
		{{ end }}
	</div>
</body>
