<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="icon" href="/img/icon.png">
	<title>
		Nándor - {{ .Title }}
	</title>
	<style>
		img {
			max-width: 30%;
			float: left;
			margin-left: 16px;
			margin-top: 0px;
		}
		#maindiv {
			min-height: 40vw;
		}
		@media only screen and (max-width: 800px){
		img {
			float: inherit;
			max-width: 50%;
		}
	</style>
</head>
<body>
	{{ partial "header.html" . }}
	<div id="maindiv">
		{{ .Content -}}
	</div>
</body>
