<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="icon" href="/img/icon.png">
	<title>
		Nándor - {{ .Title }}
	</title>
</head>
<body>
	{{ partial "header.html" . }}
	<div id="maindiv">
		{{ .Content -}}
		{{- range .Pages.ByTitle }}
			<h2>
				{{ if eq .Params.progress "done" }}
				{{ partial "cmark.html" }}
				{{ else if eq .Params.progress "progress" }}
				{{ partial "tmark.html" }}
				{{ else if or (eq .Params.progress "folder") (eq .BundleType "branch") }}
				{{ partial "fmark.html" }}
				{{ else }}
				{{ partial "xmark.html" }}
				{{ end }}
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h2>
			{{- range .Pages.ByTitle }}
				<h3>
					{{ if eq .Params.progress "done" }}
					{{ partial "cmark.html" }}
					{{ else if eq .Params.progress "progress" }}
					{{ partial "tmark.html" }}
					{{ else if or (eq .Params.progress "folder") (eq .BundleType "branch") }}
					{{ partial "fmark.html" }}
					{{ else }}
					{{ partial "xmark.html" }}
					{{ end }}
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
				</h3>
			{{ end -}}
		{{ end -}}
	</div>
</body>
