<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="icon" href="/img/icon.png">
	<title>
		Nándor - {{ .Title }}
	</title>
</head>
<body>
	{{ partial "header.html" . }}
	<div id="imgdiv">
		<p style="font-size: 48px; border-bottom: 6px double #FF0000; text-align: center; padding-bottom: 32px; margin-left: 0px; margin-right: 0px;"><b>{{ .Title }}</b></p>
		{{ .Content -}}
		{{- range.Pages }}
			<h3><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; <a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
		{{ end -}}
	</div>
</body>
